[Unit]
Description=emacs_gui
After=emacs_daemon.service

[Service]
Environment=EMACSD_SYSTEMD=1
WorkingDirectory=/var/emacsd/
ExecStart=/usr/bin/emacsd start-gui
ExecStop=/usr/bin/emacsd stop-gui
Restart=always
RestartSec=3
User= {{ emacsd_user }}

[Install]
WantedBy=multi-user.target