[submodule "ext/git-annex-el.git"]
	path = ext/git-annex-el.git
	url = https://github.com/jwiegley/git-annex-el.git
[submodule "ext/tmtxt-dired-async.git"]
	path = ext/tmtxt-dired-async.git
	url = https://github.com/tmtxt/tmtxt-dired-async.git
