# ansible-playbook deploy.yml -i 'bizdik,' -u nakkaya -K
---
-
 
 hosts: all
 become: yes

 vars:

   emacsd_user: nakkaya
   emacsd_port: 1337
   
 tasks:

   - name: system upgrade
     apt:
       upgrade: yes
       update_cache: yes
       cache_valid_time: 86400 #One day

   - name: clone emacsd
     git:
       repo: 'https://github.com/nakkaya/emacs.git'
       dest: /var/emacsd
       clone: yes
       update: yes

   - name: download gotty
     unarchive:
       src: https://github.com/yudai/gotty/releases/download/v1.0.1/gotty_linux_amd64.tar.gz
       dest: /var/emacsd/
       remote_src: yes
       
   - name: set emacsd owner
     file:
       path: /var/emacsd
       state: directory
       recurse: yes
       owner: "{{ emacsd_user }}"
       group: "{{ emacsd_user }}"

   - name: create systemd folder
     file:
       path: /etc/systemd/system/
       state: directory

   - name: emacs_daemon.service
     template:
       src: emacs_daemon.service
       dest: /etc/systemd/system/emacs_daemon.service

   - name: emacs_webapp.service
     template:
       src: emacs_webapp.service
       dest: /etc/systemd/system/emacs_webapp.service

   - name: gotty config
     template:
       src: gotty.config
       dest: /var/emacsd/gotty.config

   - name: run emacs_daemon
     systemd:
       name: emacs_daemon
       enabled: yes
       state: restarted
       daemon_reload: yes

   - name: run emacs_webapp
     systemd:
       name: emacs_webapp
       enabled: yes
       state: restarted
       daemon_reload: yes

   - name: gnome desktop
     template:
       src: emacsd.desktop
       dest: /home/{{ emacsd_user }}/.local/share/applications/emacsd.desktop
