[Unit]
Description=emacs_daemon

[Service]
Type=forking
WorkingDirectory=/var/emacsd/
ExecStart=/usr/bin/emacsd start
ExecStop=/usr/bin/emacsd stop
Restart=always
RestartSec=60
User= {{ emacsd_user }}

[Install]
WantedBy=multi-user.target