port = "1337"
title_format = "emacsd"
environment = {"TERM" = "xterm-256color"}

preferences {
  cursor_blink = true
  copy_on_select = true
  enable_clipboard_write = true
  font_family = "'DejaVu Sans Mono', 'Everson Mono', FreeMono, 'Menlo', 'Terminal', monospace"
  font_size = 15
  font_smoothing = "antialiased"
  mouse_paste_button = null
}