name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Invoke
        run: pip install invoke
        
      - name: Build Image
        run: invoke build

      - name: Docker Hub Login
        run: docker login --username nakkaya --password '${{ secrets.DOCKER_PASSWORD }}'

      - name: Push Build
        run: invoke push

      - name: Docker GHCR Login
        run: docker login ghcr.io -u nakkaya --password '${{ secrets.GHCR_PASS }}'

      - name: Push Build
        run: invoke push_ghcr
