name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        build-cmd:
          - buildx-amd64-gpu
          - buildx-amd64-cpu
          - buildx-arm64-cpu

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Free Up Space
        run: sudo rm -rf /usr/local/lib/android && sudo rm -rf /usr/share/dotnet && sudo rm -rf /opt/ghc && sudo rm -rf "/usr/local/share/boost" && sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Install Invoke
        run: pip install invoke

      - name: Docker GHCR Login
        run: docker login ghcr.io -u nakkaya --password '${{ secrets.GHCR_PASSWORD }}'

      - name: Docker Hub Login
        run: docker login --username nakkaya --password '${{ secrets.DOCKER_PASSWORD }}'

      - name: Build Image
        run: invoke ${{ matrix.build-cmd }}
